doctype html
html(lang="en")
  head
    - var name = '来此购网上购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="../semantic-ui/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="../styles/main.css")
    script(type="text/javascript", src="../js/require.js", data-main="../js/modifyItem")
  body
    .container
      .segment
        .row
          .sixteen.wide.column
            .ui.inverted.teal.menu
              .left.menu
                a.ui.item LetUsGo
                a#homeLink.ui.link.item 主页
                  i.home.icon
                a.ui.link.item 商城
                a.ui.link.item.active 商城管理
              .right.menu
                a.ui.link.item 购物车
                  i.cart.in.icon
    .ui.negative.message#emptyError
      i.close.icon
      .header 请输入修改信息
    .ui.negative.message#priceError
      i.close.icon
      .header 请输入正确的单价格式
    .ui.form.segment
      .ui.grid
        .eight.wide.column
          label 商品名称
            input#itemName(placeholder='商品名称', type='text', value='#{item.name}')
        .eight.wide.column
        .eight.wide.column
          label 商品单位
            input#itemUnit(placeholder='商品单位', type='text', value='#{item.unit}')
        .eight.wide.column
        .eight.wide.column
          label 商品单价
            input#itemPrice(placeholder='商品单价', type='text', value='#{item.price}')
      a.ui.green.submit.button.save(id="#{item.id}") 保存


