doctype html
html
  head
    -var pageName= "商品列表"
    title= pageName
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")

    link(rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.css")

    script(src="jquery/dist/jquery.js")
    script(src="semantic-ui/dist/semantic.js")
    script(src="js/require.js" data-main="js/addToCart")
  body

    .ui.masthead
      include ./viewModule/navBar.jade
    .ui.grid.centered
      h1 商品列表
      .thirteen.wide.column
        table.ui.large.table
          thead
            tr
              th.four.wide 名称
              th.three.wide 单位
              th.three.wide 价格
              th.three.wide 操作
          tbody.center
            - each item in items
              tr
                td #{item.name}
                td #{item.unit}
                td #{item.price}元
                td
                  button(id='#{item.id}' class = "ui green button buy") 购买
    button#goToCart.ui.red.button
      a(href="cart") 去购物车！
