doctype html
html(lang="en")
  head
    - var name = '来此购网上购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="semantic-ui/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="styles/main.css")

    script(src="js/require.js" data-main="js/shopManagement")
  body#home
    header
      h5#logo  欢迎光临来此购网上购物商城
    div.container
      div.ui.masthead.inverted.segment
        include ./viewModule/navBar.jade
      div.ui.grid
        div.ten.wide.centered.column
          h1 LetUsGo商品管理列表
        div.three.column.row
          div.right.floated.column
            a.ui.orange.button(href="addItem") 增加商品
        div.eight.wide.centered.column
          table.ui.large.table
            thead
              tr
                th 名称
                th 单位
                th 单价
                th
            tbody#items
              - each item in items
                tr
                  td #{item.name}
                  td #{item.unit}
                  td #{item.price}元
                  td(id="#{item._id}")
                    div.ui.inverted.purple.button.modifyItem 修改
                    div.ui.inverted.blue.button.deleteItem 删除
        div.ui.small.modal
          i.close.icon
          div.header 确认删除操作
          div.description
            div.ui.form.red.segment
              div.ui.centered.grid
                div.eight.wide.column
                  p.large 真的要删除此条商品信息吗？
          div.actions
            div.ui.blue.button.cancelDelete 取消
            div.ui.red.button.conformDelete 确定
